

registry=https://registry.npmjs.org/
@tlv-infrastructure:registry=https://pkgs.dev.azure.com/TLVDevOps/_packaging/TlvInfrastructureNpm/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/TLVDevOps/_packaging/TlvInfrastructureNpm/npm/registry/:username=TLVDevOps
//pkgs.dev.azure.com/TLVDevOps/_packaging/TlvInfrastructureNpm/npm/registry/:_password=Z3g3bmoydTRpeXd4bmxjZWJpazM2djdkemYyM2J3N2Rzd253Z2JqMzRveWs3a2Rjb3Y0YQ==
//pkgs.dev.azure.com/TLVDevOps/_packaging/TlvInfrastructureNpm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/TLVDevOps/_packaging/TlvInfrastructureNpm/npm/:username=TLVDevOps
//pkgs.dev.azure.com/TLVDevOps/_packaging/TlvInfrastructureNpm/npm/:_password=Z3g3bmoydTRpeXd4bmxjZWJpazM2djdkemYyM2J3N2Rzd253Z2JqMzRveWs3a2Rjb3Y0YQ==
//pkgs.dev.azure.com/TLVDevOps/_packaging/TlvInfrastructureNpm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
